@using common.portal.com.Entity
@model Customer

<form class="form-group" method="post">
	<h2>Starbucks Customer</h2>
	<label >Isim</label>
	<input type="text" name="FirstName" class="form-control" />
	<br />
	<label >Soy Isim</label>
	<input type="text" v name="LastName" class="form-control" />
	<br />
	<label >Dogum Tarihi</label>
	<input type="date" name="DateOfBirth" class="form-control" />
	<br />
	<label >Tc No</label>
	<input type="text"  name="NationalityId" class="form-control" />
	<br />
	<button class="btn btn-primary">Gonder</button>
</form>
