
<div style="text-align:center">

	<a style="padding:40px" class="btn btn-success" href="/Starbucks/AddCustomer">Starbucks</a>
	<a style="padding:40px" class="btn btn-warning" href="/Portal/AddCustomer">Portal</a>
	
</div>
